@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradv {
    mask-image: linear-gradient(to top, transparent, white 25%),
      linear-gradient(to bottom, transparent, white 30%);
    mask-composite: intersect;
  }
  .gradvh {
    mask-image: linear-gradient(to top, transparent, white 25%),
      linear-gradient(to bottom, transparent, white 30%),
      linear-gradient(to right, transparent, white 20%),
      linear-gradient(to left, transparent, white 20%);
    mask-composite: intersect;
  }

  .buttonsh {
    box-shadow: rgba(17, 51, 90, 0.4) 0px 4px 2px 0px;
  }

  .button_shadow_click {
    box-shadow: none;
  }

  .button_shadow_hover {
    box-shadow: rgba(17, 51, 90, 0.8) 0px 2px 1px 0px;
  }
}
