@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradv {
    mask-image: linear-gradient(to top, transparent, white 25%),
      linear-gradient(to bottom, transparent, white 30%);
    mask-composite: intersect;
  }
  .gradvh {
    mask-image: linear-gradient(to top, transparent, white 25%),
      linear-gradient(to bottom, transparent, white 30%),
      linear-gradient(to right, transparent, white 20%),
      linear-gradient(to left, transparent, white 20%);
    mask-composite: intersect;
  }

  .card_shadow {
    box-shadow: rgba(17, 51, 90, 0.4) 0px 3px 3px 0px;
  }

  .card_shadow_hover {
    box-shadow: rgba(32, 42, 53, 0.3) 0px 1px 2px 0px;
  }

  .card_shadow_click {
    box-shadow: none;
  }

  .buttonsh {
    box-shadow: rgba(17, 51, 90, 0.4) 0px 4px 2px 0px;
  }

  .button_shadow_click {
    box-shadow: none;
  }

  .button_shadow_hover {
    box-shadow: rgba(17, 51, 90, 0.8) 0px 2px 1px 0px;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    scrollbar-width: none;
  }
}

@layer base {
  body {
    background-color: #f7f8f8;
    overflow-y: scroll;
  }
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  html {
    @apply !overflow-visible !p-0;
  }
}
